
$chipAvatarHeight: 40px;
$chipAvatarRadius: 50px;
$chipAvatarMarginRight: 5px;
:host::ng-deep {

  .mat-form-field {
    width: 70% !important;

    .mat-chip {
      white-space: nowrap;
    }

    .avatar {
      height: $chipAvatarHeight;
      border-radius: $chipAvatarRadius;
      margin-right: $chipAvatarMarginRight;
    }

    .mat-input-element {
      border-bottom: none !important;
      box-shadow: none !important;
      height: 24px;
    }

    .mat-form-field-suffix {
      margin-top: auto;

      mat-icon {
        cursor: pointer;
      }
    }
  }
}
